body {
  background-color: ivory;
}

.username { grid-area: username; }
.difficulty { grid-area: difficulty; }
.timer { grid-area: timer; }
.share { grid-area: share; }
.game { grid-area: game; }

.grid-container {
  display: grid;
  grid-template-areas:
    'username game game game game'
    'username game game game game'
    'difficulty game game game game'
    'difficulty game game game game'
    'timer game game game game'
    'timer game game game game'
    'share game game game game'
    'share game game game game';    
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#mySVGCanvas {
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: white;
}