body {
  background-color: ivory;
}

.username { grid-area: username; }
.startbutton { grid-area: startbutton; }
.timer { grid-area: timer; }
.game { grid-area: game; }

.grid-container {
  display: grid;
  grid-template-areas:
    'username game game game game'
    'username game game game game'
    'startbutton game game game game'
    'startbutton game game game game'
    'startbutton game game game game'
    'timer game game game game'
    'timer game game game game'
    'timer game game game game';    
  grid-gap: 10px;
  background-color: peachpuff;
  padding: 10px;
  font-family: 'Marker Felt', fantasy;
  font-size: 5px;
}

.grid-container > div {
  background-color: floralwhite;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#mySVGCanvas {
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: white;
}

.welcomeimage {
  width: 10vw;
}

.startbutton {
  background: url("startbutton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.timerimage {
  width: 5vw;
}










